Repository igorbrigadir/nbdev-api-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbdev_build_lib, nbdev_clean_nbs, tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: 'v2.4.0'
        hooks:
        -   id: trailing-whitespace
            exclude: .ipynb
        -   id: end-of-file-fixer
            exclude: .ipynb
        -   id: check-yaml
        -   id: check-added-large-files
    -   repo: https://gitlab.com/PyCQA/flake8
        rev: '3.8.3'
        hooks:
        -   id: flake8
            additional_dependencies: [flake8-typing-imports==1.6.0]
    -   repo: https://github.com/psf/black
        rev: '19.10b0'
        hooks:
        -   id: black
            language_version: python3.8
    -   repo: local
        hooks:
        -   id: nbdev_build_lib
            name: nbdev_build_lib
            entry: nbdev_build_lib --fname
            files: .ipynb
            language: python
    -   repo: local
        hooks:
        -   id: nbdev_clean_nbs
            name: nbdev_clean_nbs
            entry: nbdev_clean_nbs --fname
            files: .ipynb
            language: python
    -   repo: local
        hooks:
            -   id: tests
                name: run tests
                entry: pytest -v #-m fast
                language: python
                additional_dependencies: [pre-commit, pytest]
                always_run: true
                pass_filenames: false
                types: [python]
                stages: [commit]
    -   repo: local
        hooks:
            -   id: tests
                name: run tests
                entry: pytest -x
                language: system
                types: [python]
                stages: [push]

fast test
  .pre-commit-config.yaml
  tests/test_slow.py
Due: tests

.pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

rebuild lib
  .pre-commit-config.yaml
  myapi/_nbdev.py
  myapi/main.py
  nbdev/build_lib.py
  pyproject.toml
Due: tests

use nbdev_build_lib
  .pre-commit-config.yaml
  nbdev/build_lib.py
Due: tests

update dependencies
  poetry.lock
Due: none

update docs
  .pre-commit-config.yaml
  Makefile
  README.md
  docs/Gemfile.lock
  docs/_data/sidebars/home_sidebar.yml
  docs/index.html
  docs/test_nbdev.html
  index.ipynb
  myapi/_nbdev.py
  myapi/main.py
  test_nbdev.ipynb
Due: nbdev_build_lib, nbdev_clean_nbs, tests

poetry update
  poetry.lock
Due: none

remove nbdev_diff_nbs, black formatting breaks it, it's not strictly necessary with tests.
  .pre-commit-config.yaml
  myapi/_nbdev.py
Due: tests

add comments to pre-commit config
  .pre-commit-config.yaml
Due: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Update Gemfile
  docs/Gemfile
Due: none

Update Gemfile.lock
  docs/Gemfile.lock
Due: none

update readme
  index.ipynb
Due: nbdev_build_lib, nbdev_clean_nbs

update deps
  pyproject.toml
Due: none

bump deps
  .pre-commit-config.yaml
Due: none

update nbdev
  index.ipynb
  myapi/main.py
Due: nbdev_build_lib, nbdev_clean_nbs, tests

bump deps
  poetry.lock
Due: none

add requirements
  requirements.txt
Due: none

update toml
  pyproject.toml
Due: none

update hooks
  .pre-commit-config.yaml
Due: none

fix tests hook
  .pre-commit-config.yaml
Due: none

update
  index.ipynb
Due: nbdev_build_lib, nbdev_clean_nbs

format pytest.ini
  pytest.ini
Due: none

cleanup
  .pre-commit-config.yaml
  index.ipynb
Due: nbdev_build_lib, nbdev_clean_nbs

test black change
  test_nbdev.ipynb
Due: nbdev_build_lib, nbdev_clean_nbs

add identity pre commit
  .pre-commit-config.yaml
Due: none

add identity pre commit
  .pre-commit-config.yaml
  test_nbdev.ipynb
Due: nbdev_build_lib, nbdev_clean_nbs

pre -commit
  .pre-commit-config.yaml
  test_nbdev.ipynb
Due: nbdev_build_lib, nbdev_clean_nbs

black format for notebooks
  .pre-commit-config.yaml
  index.ipynb
  myapi/main.py
  test_nbdev.ipynb
Due: nbdev_build_lib, nbdev_clean_nbs, tests

simpler pre commit hooks
  .pre-commit-config.yaml
Due: none

commit test
  myapi/main.py
  test_nbdev.ipynb
Due: nbdev_build_lib, nbdev_clean_nbs, tests
